{% include 'header.html.twig' %}


<h3>Search Tweets</h3>

<div class="required-fields alert alert-warning d-none">
    You must enter at least a keyword string or a user.
</div>
<div class="no-geo alert alert-warning d-none">
    Geolocation is not supported by this browser.
</div>

<div class="row">
    <div class="col-sm-4">
        <form method="post" id="searchform">
            <table class='table table-hover table-responsive table-bordered'>
                <tbody>
                <tr>
                    <td>Search Term:</td>
                    <td><input type="text" name="keyword" id="keyword"  {% if post %} value="{{ post.keyword }}" {% endif %} ></td>
                </tr>
                <tr>
                    <td><label for="location">Location</label></td>
                    <td>
                        <div id="locvars">
                             <input type="radio" name="location" id="location1" value="1"  > <label for="location1">None</label><br/>
                            <input type="radio" name="location" id="location2" value="2" {% if  post.location or  post.location == 2 %} checked="checked" {% endif %}/> <label for="location2">Your Location</label><br/>
                            <input type="radio" name="location" id="location3" value="3" {% if  post.location or  post.location == 3 %} checked="checked" {% endif %}/> <label for="location3">Enter Coordinates</label>
                        </div>
                        <div id="geovars" class="d-none">
                            <label for="lat">Latitude</label><br/> <input type="text" name="lat" id="lat" {% if post %} value="{{ post.lat }}" {% endif %}/><br/>
                            <label for="lon">Longitude</label><br/> <input type="text" name="lon" id="lon" {% if post %} value="{{ post.lon }}" {% endif %}/><br/>
                            <label for="miles">Miles</label><br/> <input type="text" name="miles" id="miles" {% if post %} value="{{ post.miles }}" {% endif %}/><br/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Twitter User</td>
                    <td><input type="text" name="username" id="username" {% if post %} value="{{ post.username }}" {% endif %}/></td>
                </tr>
                <tr>
                    <td>Number of Tweets</td>
                    <td>
                        <select id="post_count" name="post_count">

                            <option value="5" {% if post.post_count == 5 %}selected="selected" {% endif %}>5</option>
                            <option value="10" {% if post.post_count == 10 %}selected="selected" {% endif %}>10</option>
                            <option value="20" {% if post.post_count == 20 %}selected="selected" {% endif %}>20</option>
                            <option value="50" {% if post.post_count == 50 %}selected="selected" {% endif %}>50</option>
                            <option value="100" {% if post.post_count == 100 %}selected="selected" {% endif %}>100</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" value="search" class="btn btn-info">Search</button> <a class="btn btn-info" href="index.php">Reset</a></td>
                </tr>
                </tbody>
            </table>


        </form>
    </div>
    <div class="col-sm-8">

        {% for tweet in tweets %}


        <p><strong> {{ tweet.user.name }}</strong> ({{ tweet.user.screen_name }}), <em>{{ tweet.created_at|date('M d') }}</em><br/>
            {{ tweet.full_text|regx|raw }}
        </p>

        {% endfor %}
    </div>

</div>


{% include 'footer.html.twig' %}